@charset "UTF-8";
/*  ================================================================================
    ================================================================================

             .""""".         ad88888ba         db         ad88888ba    ad88888ba
    ____    __\\\\\\__      d8"     "8b       d88b       d8"     "8b  d8"     "8b
    \___'¬¬"          .-.    Y8,              d8'`8b      Y8,          Y8,
    /___<             '0'   `Y8aaaaa,       d8'  `8b     `Y8aaaaa,    `Y8aaaaa,
   /____,¬¬.       y     B    `"""""8b,    d8YaaaaY8b      `"""""8b,    `"""""8b,
          "".____  ___-"            `8b   d8""""""""8b           `8b          `8b
           //    / /        Y8a     a8P  d8'        `8b  Y8a     a8P  Y8a     a8P
                             "Y88888P"  d8'          `8b  "Y88888P"    "Y88888P"
                             
    ================================================================================
       Enrique Vaquer - CSS 
       FECHA
    ================================================================================ */
/*
//
//
//
//
//
*/
/*
d8888b. d88888b .d8888. d88888b d888888b
88  `8D 88'     88'  YP 88'     `~~88~~'
88oobY' 88ooooo `8bo.   88ooooo    88
88`8b   88~~~~~   `Y8b. 88~~~~~    88
88 `88. 88.     db   8D 88.        88
88   YD Y88888P `8888Y' Y88888P    YP

*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
//
//
//
//
//
//
//
//
*/
/*
db    db  .d8b.  d8888b. d888888b  .d8b.  d8888b.
88    88 d8' `8b 88  `8D   `88'   d8' `8b 88  `8D
Y8    8P 88ooo88 88oobY'    88    88ooo88 88oooY'
`8b  d8' 88~~~88 88`8b      88    88~~~88 88~~~b.
 `8bd8'  88   88 88 `88.   .88.   88   88 88   8D
   YP    YP   YP 88   YD Y888888P YP   YP Y8888P'


*/
/*
//
//
//
//
//
//
//
//
*/
/*
d888888b d888888b d8888b.  .d88b.   d888b
`~~88~~'   `88'   88  `8D .8P  Y8. 88' Y8b
   88       88    88oodD' 88    88 88
   88       88    88~~~   88    88 88  ooo
   88      .88.   88      `8b  d8' 88. ~8~
   YP    Y888888P 88       `Y88P'   Y888P


*/
@font-face {
  font-family: 'Brixton_Light';
  src: local("Brixton_Light"), url(../fonts/Brixton_Light.woff) format("woff");
}

@font-face {
  font-family: 'Brixton_Bold';
  src: local("Brixton_Bold"), url(../fonts/Brixton_Bold.woff) format("woff");
}

html {
  font-family: Brixton_Light, 'sans-serif';
  color: #000000;
  font-size: 16px;
  background-color: #ffffff;
}

/*
//
//
//
//
//
//
//
//
*/
/*
d8888b. db       .d8b.   .o88b. d88888b db   db  .d88b.  db
88  `8D 88      d8' `8b d8P  Y8 88'     88   88 .8P  Y8. 88
88oodD' 88      88ooo88 8P      88ooooo 88ooo88 88    88 88
88~~~   88      88~~~88 8b      88~~~~~ 88~~~88 88    88 88
88      88booo. 88   88 Y8b  d8 88.     88   88 `8b  d8' 88booo.
88      Y88888P YP   YP  `Y88P' Y88888P YP   YP  `Y88P'  Y88888P


*/
/*
//
//
//
//
//
*/
/*
.88b  d88. d888888b db    db d888888b d8b   db .d8888.
88'YbdP`88   `88'   `8b  d8'   `88'   888o  88 88'  YP
88  88  88    88     `8bd8'     88    88V8o 88 `8bo.
88  88  88    88     .dPYb.     88    88 V8o88   `Y8b.
88  88  88   .88.   .8P  Y8.   .88.   88  V888 db   8D
YP  YP  YP Y888888P YP    YP Y888888P VP   V8P `8888Y'


*/
/*
//
//
//
//
//
//
//
//
*/
/*
db       .d8b.  db    db  .d88b.  db    db d888888b
88      d8' `8b `8b  d8' .8P  Y8. 88    88 `~~88~~'
88      88ooo88  `8bd8'  88    88 88    88    88
88      88~~~88    88    88    88 88    88    88
88booo. 88   88    88    `8b  d8' 88b  d88    88
Y88888P YP   YP    YP     `Y88P'  ~Y8888P'    YP


*/
/*
//
//
//
//
//
//
//
*/
/*
 d888b  d8888b. d888888b d8888b. .d8888.
88' Y8b 88  `8D   `88'   88  `8D 88'  YP
88      88oobY'    88    88   88 `8bo.
88  ooo 88`8b      88    88   88   `Y8b.
88. ~8~ 88 `88.   .88.   88  .8D db   8D
 Y888P  88   YD Y888888P Y8888D' `8888Y'


*/
/*
//
//
//
//
//
//
//
//
//
//
//
*/
/*
d888888b .88b  d88.  d888b  d8b   db .d8888.
  `88'   88'YbdP`88 88' Y8b 888o  88 88'  YP
   88    88  88  88 88      88V8o 88 `8bo.
   88    88  88  88 88  ooo 88 V8o88   `Y8b.
  .88.   88  88  88 88. ~8~ 88  V888 db   8D
Y888888P YP  YP  YP  Y888P  VP   V8P `8888Y'


*/
/*
//
//
//
//
//
//
//
//
*/
/*
d8888b.  .d88b.  d888888b  .d88b.  d8b   db .d8888.
88  `8D .8P  Y8. `~~88~~' .8P  Y8. 888o  88 88'  YP
88oooY' 88    88    88    88    88 88V8o 88 `8bo.
88~~~b. 88    88    88    88    88 88 V8o88   `Y8b.
88   8D `8b  d8'    88    `8b  d8' 88  V888 db   8D
Y8888P'  `Y88P'     YP     `Y88P'  VP   V8P `8888Y'


*/
/*
//
//
//
//
//
*/
/*
d88888b d8b   db db       .d8b.   .o88b. d88888b .d8888.
88'     888o  88 88      d8' `8b d8P  Y8 88'     88'  YP
88ooooo 88V8o 88 88      88ooo88 8P      88ooooo `8bo.
88~~~~~ 88 V8o88 88      88~~~88 8b      88~~~~~   `Y8b.
88.     88  V888 88booo. 88   88 Y8b  d8 88.     db   8D
Y88888P VP   V8P Y88888P YP   YP  `Y88P' Y88888P `8888Y'


*/
/*
//
//
//
//
//
//
//
*/
/*
d88888b  .d88b.  d8888b. .88b  d88.
88'     .8P  Y8. 88  `8D 88'YbdP`88
88ooo   88    88 88oobY' 88  88  88
88~~~   88    88 88`8b   88  88  88
88      `8b  d8' 88 `88. 88  88  88
YP       `Y88P'  88   YD YP  YP  YP


*/
/*
//
//
//
//
//
//
//
//
*/
