@charset "UTF-8";
/*  ================================================================================
    ================================================================================

             .""""".         ad88888ba         db         ad88888ba    ad88888ba
    ____    __\\\\\\__      d8"     "8b       d88b       d8"     "8b  d8"     "8b
    \___'¬¬"          .-.    Y8,              d8'`8b      Y8,          Y8,
    /___<             '0'   `Y8aaaaa,       d8'  `8b     `Y8aaaaa,    `Y8aaaaa,
   /____,¬¬.       y     B    `"""""8b,    d8YaaaaY8b      `"""""8b,    `"""""8b,
          "".____  ___-"            `8b   d8""""""""8b           `8b          `8b
           //    / /        Y8a     a8P  d8'        `8b  Y8a     a8P  Y8a     a8P
                             "Y88888P"  d8'          `8b  "Y88888P"    "Y88888P"
                             
    ================================================================================
       Enrique Vaquer - CSS 
       FECHA
    ================================================================================ */
/*
//
//
//
//
//
*/
/*
d8888b. d88888b .d8888. d88888b d888888b
88  `8D 88'     88'  YP 88'     `~~88~~'
88oobY' 88ooooo `8bo.   88ooooo    88
88`8b   88~~~~~   `Y8b. 88~~~~~    88
88 `88. 88.     db   8D 88.        88
88   YD Y88888P `8888Y' Y88888P    YP

*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
//
//
//
//
//
//
//
//
*/
/*
db    db  .d8b.  d8888b. d888888b  .d8b.  d8888b.
88    88 d8' `8b 88  `8D   `88'   d8' `8b 88  `8D
Y8    8P 88ooo88 88oobY'    88    88ooo88 88oooY'
`8b  d8' 88~~~88 88`8b      88    88~~~88 88~~~b.
 `8bd8'  88   88 88 `88.   .88.   88   88 88   8D
   YP    YP   YP 88   YD Y888888P YP   YP Y8888P'


*/
/*, 'sexualidad', 'juvenil', 'duelo', 'rendimiento'*/
/*
//
//
//
//
//
//
//
//
*/
/*
d888888b d888888b d8888b.  .d88b.   d888b
`~~88~~'   `88'   88  `8D .8P  Y8. 88' Y8b
   88       88    88oodD' 88    88 88
   88       88    88~~~   88    88 88  ooo
   88      .88.   88      `8b  d8' 88. ~8~
   YP    Y888888P 88       `Y88P'   Y888P


*/
@font-face {
  font-family: 'Brixton_Light';
  src: local("Brixton_Light"), url(../fonts/Brixton_Light.woff) format("woff");
}

@font-face {
  font-family: 'Brixton_Bold';
  src: local("Brixton_Bold"), url(../fonts/Brixton_Bold.woff) format("woff");
}

html {
  font-family: Brixton_Light, 'sans-serif';
  color: #000000;
  font-size: 16px;
  background-color: #ffffff;
}

.clinica p {
  text-align: justify;
}

H1 {
  font-size: 1.563em;
}

H2 {
  font-size: 1.875em;
}

H3 {
  font-size: 2.188em;
}

H4 {
  font-size: 1.25em;
}

H5 {
  font-size: 0.875em;
}

H6 {
  font-size: 0.688em;
}

h1, h2, h3 {
  text-align: center;
  font-family: Brixton_Bold;
}

H5, H6 {
  color: #ffffff;
}

.footer__info li span {
  color: #ffffff;
}

.footer__info__telf::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("../icons/svg/telefono.svg");
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  margin-right: 10px;
}

.footer__info__mvl::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("../icons/svg/movil.svg");
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  margin-right: 10px;
}

.footer__info__mail::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("../icons/svg/correo.svg");
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  margin-right: 10px;
}

.footer__info__ubi::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("../icons/svg/ubicacion.svg");
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  margin-right: 10px;
}

.footer__info__telf__texto, .footer__info__mvl__texto {
  font-family: Brixton_Bold;
  font-size: 2.5em;
}

.footer__info__ubi__texto__direccion, .footer__info__mail {
  color: #ffffff;
  font-size: 1.25em;
}

/*
//
//
//
//
//
//
//
//
*/
/*
d8888b. db       .d8b.   .o88b. d88888b db   db  .d88b.  db
88  `8D 88      d8' `8b d8P  Y8 88'     88   88 .8P  Y8. 88
88oodD' 88      88ooo88 8P      88ooooo 88ooo88 88    88 88
88~~~   88      88~~~88 8b      88~~~~~ 88~~~88 88    88 88
88      88booo. 88   88 Y8b  d8 88.     88   88 `8b  d8' 88booo.
88      Y88888P YP   YP  `Y88P' Y88888P YP   YP  `Y88P'  Y88888P


*/
header .gamburger .meniu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
}

header .gamburger .meniu a:visited {
  color: #ffffff;
}

header .gamburger .meniu a:hover {
  color: #ffffff;
}

header .gamburger .meniu .caja__desplegable:hover .menu__services__desplegable li a {
  text-decoration: none;
  color: #840D6F;
  font-size: 1rem;
  font-family: Brixton_Bold;
}

header .gamburger .meniu .caja__desplegable:hover .menu__services__desplegable li a:visited {
  color: #840D6F;
}

header .gamburger .meniu .caja__desplegable:hover .menu__services__desplegable li a:hover {
  color: #840D6F;
}

.footer__info__telf::before, .footer__info__mvl::before, .footer__info__mail::before, .footer__info__ubi::before {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.inputlabel__boton {
  width: 115px;
  padding: 12px 14px;
  border: 1px solid #840D6F;
  background-color: #ffffff;
  border-radius: 15px;
  text-align: center;
}

/*
//
//
//
//
//
*/
/*
.88b  d88. d888888b db    db d888888b d8b   db .d8888.
88'YbdP`88   `88'   `8b  d8'   `88'   888o  88 88'  YP
88  88  88    88     `8bd8'     88    88V8o 88 `8bo.
88  88  88    88     .dPYb.     88    88 V8o88   `Y8b.
88  88  88   .88.   .8P  Y8.   .88.   88  V888 db   8D
YP  YP  YP Y888888P YP    YP Y888888P VP   V8P `8888Y'


*/
/*
//
//
//
//
//
//
//
//
*/
/*
db       .d8b.  db    db  .d88b.  db    db d888888b
88      d8' `8b `8b  d8' .8P  Y8. 88    88 `~~88~~'
88      88ooo88  `8bd8'  88    88 88    88    88
88      88~~~88    88    88    88 88    88    88
88booo. 88   88    88    `8b  d8' 88b  d88    88
Y88888P YP   YP    YP     `Y88P'  ~Y8888P'    YP


*/
.clinica {
  max-width: 90%;
  margin: 0 auto;
}

.clinica__titulo {
  margin: 15px 0 55px 0;
}

.clinica__caja__adultos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.clinica__subtit__adultos {
  margin: 25px;
}

.clinica__caja__agresividad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.clinica__subtit__agresividad {
  margin: 25px;
}

.inputlabel {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin: 25px 0;
}

.footer {
  width: 100%;
  height: 650px;
  background-color: #9C9AA0;
}

.footer ul {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  height: 610px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__info__redes, .footer__col {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__final {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__copyright {
  -ms-flex-item-align: center;
  align-self: center;
}

.footer__pic2__uib {
  border: 1px solid #707070;
}

/*
//
//
//
//
//
//
//
*/
/*
 d888b  d8888b. d888888b d8888b. .d8888.
88' Y8b 88  `8D   `88'   88  `8D 88'  YP
88      88oobY'    88    88   88 `8bo.
88  ooo 88`8b      88    88   88   `Y8b.
88. ~8~ 88 `88.   .88.   88  .8D db   8D
 Y888P  88   YD Y888888P Y8888D' `8888Y'


*/
/*
//
//
//
//
//
//
//
//
//
//
//
*/
/*
d888888b .88b  d88.  d888b  d8b   db .d8888.
  `88'   88'YbdP`88 88' Y8b 888o  88 88'  YP
   88    88  88  88 88      88V8o 88 `8bo.
   88    88  88  88 88  ooo 88 V8o88   `Y8b.
  .88.   88  88  88 88. ~8~ 88  V888 db   8D
Y888888P YP  YP  YP  Y888P  VP   V8P `8888Y'


*/
.clinica__svg__adultos {
  width: 150px;
  height: 125px;
  background-image: url("../icons/svg/servicios/adultos.svg");
  background-size: content;
  background-position: center;
  background-repeat: no-repeat;
}

.clinica__svg__agresividad {
  width: 150px;
  height: 125px;
  background-image: url("../icons/svg/servicios/agresividad.svg");
  background-size: content;
  background-position: center;
  background-repeat: no-repeat;
}

/*
//
//
//
//
//
//
//
//
*/
/*
d8888b.  .d88b.  d888888b  .d88b.  d8b   db .d8888.
88  `8D .8P  Y8. `~~88~~' .8P  Y8. 888o  88 88'  YP
88oooY' 88    88    88    88    88 88V8o 88 `8bo.
88~~~b. 88    88    88    88    88 88 V8o88   `Y8b.
88   8D `8b  d8'    88    `8b  d8' 88  V888 db   8D
Y8888P'  `Y88P'     YP     `Y88P'  VP   V8P `8888Y'


*/
@media screen and (max-width: 768px) {
  #activar__adultos {
    display: none;
  }
  #activar__adultos:checked ~ .clinica__parrafo__oculto__adultos {
    display: block;
    background-color: rgba(191, 131, 182, 0.603);
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
  }
  .clinica__parrafo__oculto__adultos {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #activar__agresividad {
    display: none;
  }
  #activar__agresividad:checked ~ .clinica__parrafo__oculto__agresividad {
    display: block;
    background-color: rgba(191, 131, 182, 0.603);
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
  }
  .clinica__parrafo__oculto__agresividad {
    display: none;
  }
}

/*
@media screen and (min-width: $breakpoints-sm){
.inputlabel{
    display: none;
}
}
*/
/*
//
//
//
//
//
*/
/*
d88888b d8b   db db       .d8b.   .o88b. d88888b .d8888.
88'     888o  88 88      d8' `8b d8P  Y8 88'     88'  YP
88ooooo 88V8o 88 88      88ooo88 8P      88ooooo `8bo.
88~~~~~ 88 V8o88 88      88~~~88 8b      88~~~~~   `Y8b.
88.     88  V888 88booo. 88   88 Y8b  d8 88.     db   8D
Y88888P VP   V8P Y88888P YP   YP  `Y88P' Y88888P `8888Y'


*/
a {
  text-decoration: none;
}

/*
//
//
//
//
//
//
//
*/
/*
d88888b  .d88b.  d8888b. .88b  d88.
88'     .8P  Y8. 88  `8D 88'YbdP`88
88ooo   88    88 88oobY' 88  88  88
88~~~   88    88 88`8b   88  88  88
88      `8b  d8' 88 `88. 88  88  88
YP       `Y88P'  88   YD YP  YP  YP


*/
/*
//
//
//
//
//
//
//
//
*/
header .gamburger {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

header .gamburger #activ:checked ~ .gamburger {
  display: none;
  background-color: #840D6F;
  width: 100%;
}

header .gamburger input {
  display: none;
}

header .gamburger .icon_burger {
  cursor: pointer;
  font-size: 36px;
  color: #840D6F;
  position: fixed;
  right: 27px;
  top: 17px;
}

header .gamburger .meniu {
  display: none;
}

header .gamburger .meniu a {
  font-size: 20px;
}

header .gamburger .meniu .caja__desplegable:hover .menu__services__desplegable {
  display: block;
  position: absolute;
  top: 68px;
  left: 0;
  z-index: 10;
}

header .gamburger .meniu .caja__desplegable:hover .menu__services__desplegable li {
  width: 284px;
  height: 50px;
  border: 1px solid #707070;
  margin: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 15px;
  z-index: 10;
  background-color: #ffffff;
}

header .gamburger .meniu .caja__desplegable .icon__f {
  display: none;
  z-index: 20;
  font-size: 30px;
  position: absolute;
  color: white;
  left: 30px;
  top: 50px;
}

header .gamburger .meniu .caja__desplegable:hover .icon__f {
  display: block;
}

header .gamburger .meniu .caja__desplegable .desplegable {
  padding-bottom: 30px;
}

header .gamburger .meniu .caja__desplegable .menu__services__desplegable {
  display: none;
}

header .gamburger #activ:checked ~ .meniu {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 70px;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  z-index: 10;
  background-color: #840D6F;
}

header .gamburger #activ:checked ~ .meniu .blog {
  margin-right: 50px;
}

header .gamburger #activ:checked ~ .icon_burger {
  display: none;
}

header .gamburger .acloseMeniu {
  display: none;
  min-width: 50px;
  text-decoration: none;
  z-index: 20;
}

header .gamburger .acloseMeniu .closeMeniu {
  font-size: 25px;
  color: white;
}

header .gamburger #activ:checked ~ .acloseMeniu {
  display: block;
  position: fixed;
  right: 0px;
  top: 22px;
}

header picture {
  display: block;
  width: 100%;
  height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header picture img {
  width: 305px;
  height: 340px;
}

header #activ:checked ~ picture {
  margin-top: 70px;
}

body header {
  display: block;
}

body section {
  display: block;
}

body section .quienes {
  text-align: center;
  font-family: Brixton_Bold;
  margin-top: 27px;
  margin-bottom: 15px;
}

body section .quienes_text {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 120px;
  text-align: justify;
  font-size: 16px;
  margin-bottom: 60px;
}

body footer {
  display: block;
}
