/*  ================================================================================
    ================================================================================

             .""""".         ad88888ba         db         ad88888ba    ad88888ba
    ____    __\\\\\\__      d8"     "8b       d88b       d8"     "8b  d8"     "8b
    \___'¬¬"          .-.    Y8,              d8'`8b      Y8,          Y8,
    /___<             '0'   `Y8aaaaa,       d8'  `8b     `Y8aaaaa,    `Y8aaaaa,
   /____,¬¬.       y     B    `"""""8b,    d8YaaaaY8b      `"""""8b,    `"""""8b,
          "".____  ___-"            `8b   d8""""""""8b           `8b          `8b
           //    / /        Y8a     a8P  d8'        `8b  Y8a     a8P  Y8a     a8P
                             "Y88888P"  d8'          `8b  "Y88888P"    "Y88888P"
                             
    ================================================================================
       Enrique Vaquer - CSS 
       FECHA
    ================================================================================ */
/*
//
//
//
//
//
*/
/*
d8888b. d88888b .d8888. d88888b d888888b
88  `8D 88'     88'  YP 88'     `~~88~~'
88oobY' 88ooooo `8bo.   88ooooo    88
88`8b   88~~~~~   `Y8b. 88~~~~~    88
88 `88. 88.     db   8D 88.        88
88   YD Y88888P `8888Y' Y88888P    YP

*/
 // RESET
 @import "base/_reset/reset";
    //Si estamos utilizando Internet Explorer (antiguos)
    //@import "base/reset/normalize";
/*
//
//
//
//
//
//
//
//
*/
/*
db    db  .d8b.  d8888b. d888888b  .d8b.  d8888b.
88    88 d8' `8b 88  `8D   `88'   d8' `8b 88  `8D
Y8    8P 88ooo88 88oobY'    88    88ooo88 88oooY'
`8b  d8' 88~~~88 88`8b      88    88~~~88 88~~~b.
 `8bd8'  88   88 88 `88.   .88.   88   88 88   8D
   YP    YP   YP 88   YD Y888888P YP   YP Y8888P'


*/
 @import "lib/variables";
/*
//
//
//
//
//
//
//
//
*/

/*
d888888b d888888b d8888b.  .d88b.   d888b
`~~88~~'   `88'   88  `8D .8P  Y8. 88' Y8b
   88       88    88oodD' 88    88 88
   88       88    88~~~   88    88 88  ooo
   88      .88.   88      `8b  d8' 88. ~8~
   YP    Y888888P 88       `Y88P'   Y888P


*/
 @import "base/tipografia";
/*
//
//
//
//
//
//
//
//
*/
/*
d8888b. db       .d8b.   .o88b. d88888b db   db  .d88b.  db
88  `8D 88      d8' `8b d8P  Y8 88'     88   88 .8P  Y8. 88
88oodD' 88      88ooo88 8P      88ooooo 88ooo88 88    88 88
88~~~   88      88~~~88 8b      88~~~~~ 88~~~88 88    88 88
88      88booo. 88   88 Y8b  d8 88.     88   88 `8b  d8' 88booo.
88      Y88888P YP   YP  `Y88P' Y88888P YP   YP  `Y88P'  Y88888P


*/
@import "lib/placeholders";
/*
//
//
//
//
//
*/
/*
.88b  d88. d888888b db    db d888888b d8b   db .d8888.
88'YbdP`88   `88'   `8b  d8'   `88'   888o  88 88'  YP
88  88  88    88     `8bd8'     88    88V8o 88 `8bo.
88  88  88    88     .dPYb.     88    88 V8o88   `Y8b.
88  88  88   .88.   .8P  Y8.   .88.   88  V888 db   8D
YP  YP  YP Y888888P YP    YP Y888888P VP   V8P `8888Y'


*/
@import "lib/mixins";
/*
//
//
//
//
//
//
//
//
*/
/*
db       .d8b.  db    db  .d88b.  db    db d888888b
88      d8' `8b `8b  d8' .8P  Y8. 88    88 `~~88~~'
88      88ooo88  `8bd8'  88    88 88    88    88
88      88~~~88    88    88    88 88    88    88
88booo. 88   88    88    `8b  d8' 88b  d88    88
Y88888P YP   YP    YP     `Y88P'  ~Y8888P'    YP


*/
@import "layouts/layouts";
/*
//
//
//
//
//
//
//
*/
/*
 d888b  d8888b. d888888b d8888b. .d8888.
88' Y8b 88  `8D   `88'   88  `8D 88'  YP
88      88oobY'    88    88   88 `8bo.
88  ooo 88`8b      88    88   88   `Y8b.
88. ~8~ 88 `88.   .88.   88  .8D db   8D
 Y888P  88   YD Y888888P Y8888D' `8888Y'


*/
@import "layouts/grids";
/*
//
//
//
//
//
//
//
//
//
//
//
*/
/*
d888888b .88b  d88.  d888b  d8b   db .d8888.
  `88'   88'YbdP`88 88' Y8b 888o  88 88'  YP
   88    88  88  88 88      88V8o 88 `8bo.
   88    88  88  88 88  ooo 88 V8o88   `Y8b.
  .88.   88  88  88 88. ~8~ 88  V888 db   8D
Y888888P YP  YP  YP  Y888P  VP   V8P `8888Y'


*/
 @import "base/imagenes";
/*
//
//
//
//
//
//
//
//
*/
/*
d8888b.  .d88b.  d888888b  .d88b.  d8b   db .d8888.
88  `8D .8P  Y8. `~~88~~' .8P  Y8. 888o  88 88'  YP
88oooY' 88    88    88    88    88 88V8o 88 `8bo.
88~~~b. 88    88    88    88    88 88 V8o88   `Y8b.
88   8D `8b  d8'    88    `8b  d8' 88  V888 db   8D
Y8888P'  `Y88P'     YP     `Y88P'  VP   V8P `8888Y'


*/
@import "base/botones";
/*
//
//
//
//
//
*/
/*
d88888b d8b   db db       .d8b.   .o88b. d88888b .d8888.
88'     888o  88 88      d8' `8b d8P  Y8 88'     88'  YP
88ooooo 88V8o 88 88      88ooo88 8P      88ooooo `8bo.
88~~~~~ 88 V8o88 88      88~~~88 8b      88~~~~~   `Y8b.
88.     88  V888 88booo. 88   88 Y8b  d8 88.     db   8D
Y88888P VP   V8P Y88888P YP   YP  `Y88P' Y88888P `8888Y'


*/
@import "base/enlaces";
/*
//
//
//
//
//
//
//
*/
/*
d88888b  .d88b.  d8888b. .88b  d88.
88'     .8P  Y8. 88  `8D 88'YbdP`88
88ooo   88    88 88oobY' 88  88  88
88~~~   88    88 88`8b   88  88  88
88      `8b  d8' 88 `88. 88  88  88
YP       `Y88P'  88   YD YP  YP  YP


*/
@import "base/formularios";
/*
//
//
//
//
//
//
//
//
*/
@import "base/meniu";

body{
  header{
    display: block;
  }
  section{
    display: block;
    .quienes{
      text-align: center;
      font-family: Brixton_Bold;
      margin-top: 27px;
      margin-bottom: 15px;
    }
    .quienes_text{
      display: block;
      margin: 0 auto;
      width: 300px;
      height: 120px;
      text-align: justify;
      font-size: 16px;
      margin-bottom: 60px;
    }
    .caja__filosofia__valores{
      @media only screen and (min-width: $breakpoints-sm)  {
        display: flex;
        justify-content: space-around;
        background-color: #F2ECEC;
        height: 675px;
        }
      .caja__filosofia__escritorio{
        
        .h2__filosofia{
          display: block;
          margin-bottom: 27px;
          font-size: 35px;
          letter-spacing: 3;
        }

        .picture__filosofia{
          display: block;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          margin-bottom: 20px;
          z-index: 0;
          @media only screen and (min-width: $breakpoints-sm)  {
            position: static;
            }

          &::before{
            @media only screen and (min-width: $breakpoints-sm)  {
            display: none;
            }
            background-color: rgba(0, 0, 0, .53);
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 10;
            content: "";

          }

          &::after{
            @media only screen and (min-width: $breakpoints-sm)  {
              display:none;
              z-index: 20;
              top: 130%;
              color: $negro;
              width: 610px;
              height: 130px;
              font-size: 25px
              }
            position: absolute;
            z-index: 20;
            top: 5%;
            color: $blanco;
            width: 330px;
            height: 75px;
            content: "Nuestra filosofía de trabajo se fundamenta en 
            ofrecer, desde la Psicología científica, un servicio 
            personalizado, inmediatez y espíritu resolutivo  
            "
            ;
            

          }
        }
        .text__filosofia__desktop{
          display: none;
          @media only screen and (min-width: $breakpoints-sm)  {
            display: block;
            width: 610px;
            font-size: 25px;
          }
        }
      }
      .caja__valores__escritorio{
        flex-basis: 50%;
        .h3__valores{
          margin-bottom: 75px;
          letter-spacing: 3;
          @media only screen and (min-width: $breakpoints-sm)  {
            margin-bottom: 27px;
          }
        }
      }
    }
    .caja__Servicios{
      display: block;
      margin-bottom: 50px;
      .caja__Servicios__h3{
        margin: 50px 0 50px 0;
      }
      .picture__clinica{
        display: block;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        z-index: 0;
        
          &::before{
            background-color: rgba(0, 0, 0, .53);
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 10;
            content: "";

            @media only screen and (min-width: $breakpoints-sm)  {
              display: none;
            }
    
          }
    
          &::after{
            position: absolute;
            z-index: 20;
            top: 45%;
            left: 20px;
            color: $blanco;
            width: 140px;
            height: 75px;
            font-size: 20px;
            letter-spacing: 2px;
            word-spacing: 2px;
            content: "PSICOLOGÍA DE LA SALUD"
            ;

            @media only screen and (min-width: $breakpoints-sm)  {
              
            }
        }

      }
      .picture__forense{
        display: block;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        z-index: 0;
        
          &::before{
            background-color: rgba(0, 0, 0, .53);
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 10;
            content: "";

            @media only screen and (min-width: $breakpoints-sm)  {
              display: none;
            }
    
          }
    
          &::after{
            position: absolute;
            z-index: 20;
            top: 45%;
            right: 20px;
            color: $blanco;
            width: 235px;
            height: 75px;
            font-size: 20px;
            letter-spacing: 2px;
            word-spacing: 2px;
            text-align: right;
            content: "PSICOLOGÍA JURIDICA Y FORENSE"
            ;
        }

      }
      .picture__formacion{
        display: block;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        z-index: 0;
        
          &::before{
            background-color: rgba(0, 0, 0, .53);
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 10;
            content: "";

            @media only screen and (min-width: $breakpoints-sm)  {
              display: none;
            }
    
          }
    
          &::after{
            position: absolute;
            z-index: 20;
            top: 25%;
            left: 20px;
            color: $blanco;
            width: 180px;
            height: 75px;
            font-size: 20px;
            letter-spacing: 2px;
            word-spacing: 2px;
            content: "INVESTIGACIÓN, FORMACIÓN, ASESORAMIENTO A PROFESIONALES"
            ;
        }

      }
    }
    
    
  }
  footer{
    display: block;
  }
}