//  ====================================================================================
//  ====================================================================================


//  oooooooooo    ooooooo   ooooooooooo   ooooooo  oooo   oooo ooooooooooo  oooooooo8
//   888    888 o888   888o 88  888  88 o888   888o 8888o  88   888    88  888
//   888oooo88  888     888     888     888     888 88 888o88   888ooo8     888oooooo
//   888    888 888o   o888     888     888o   o888 88   8888   888    oo          888
//  o888ooo888    88ooo88      o888o      88ooo88  o88o    88  o888ooo8888 o88oooo888



//  ====================================================================================
//  ====================================================================================


// -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- 
// -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- 

// 	BOTON - SABER MAS 

// -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- 
// -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- 
    
.inputlabel__boton{
    @extend %boton;
}

@each $subtit in $servicios{

    @media screen and (max-width: 768px){
        #activar__#{$subtit} {
            display: none;
            }
        
        .clinica, .forense, .formacion{

            #activar__#{$subtit}:checked ~ &__parrafo__oculto__#{$subtit} {
                display: block;
    
                background-color: $lila-hover-boton;
                margin-bottom: 10px;
                padding: 20px;
                border-radius: 5px;
                }   
    
            &__parrafo__oculto__#{$subtit}{
                display: none;
            }
        }

    }    
} 

/*
@media screen and (min-width: $breakpoints-sm){
.inputlabel{
    display: none;
}
}
*/
