//  ========================================================================
//  ========================================================================

//    ooooooooooo  ooooooo  oooooooooo  oooo     oooo ooooo  oooo ooooo
//     888    88 o888   888o 888    888  8888o   888   888    88   888
//     888ooo8   888     888 888oooo88   88 888o8 88   888    88   888
//     888       888o   o888 888  88o    88  888  88   888    88   888    o
//    o888o        88ooo88  o888o  88o8 o88o  8  o88o   888oo88   o888ooo88

//  ========================================================================
//  ========================================================================
 

// -+-+-+-+-+--+-+-	 centrado de formulario	 -+-+-+-+-+-+-+-+-


.contacto__form{
    @include margin-centrar;
    @include flex-box(space-evenly, center, column);

    @media screen and (min-width: $breakpoints-sm){
        @include margin-centrar(70%, 0);
    }

   

    @each $num in 1,2,3,4{
        &__input#{$num}{
            width: 100%;
            height: 40px;

            margin-bottom: 30px;
        
            border: 1px solid $gris;
            padding: 10px; 
        }
    
/*
        &__input#{$num}::placeholder{
            color: $negro;
        }*/

        &__boton{
            width: 100%;
            @media screen and (min-width: $breakpoints-sm){
                width: 120px;
                align-self: flex-end;
            }
        }
    }

    &__input4{
        height: 170px;
    }
}
