header{


    // Caja grande de header todo de header esta aqui.
    .gamburger{
        z-index: 1;        
        @include flex-box ($jc:flex-end, $ai: flex-end, $fd: row);

        // Descktop
        @media only screen and (min-width: $breakpoints-sm)  {
        display: block;       
        }
        // Icons de hamburgesa
        #activ:checked ~ .gamburger{
            @media only screen and (min-width: $breakpoints-sm)  {
            display: block;
            }
            display: none;
            background-color: #840D6F;
            width: 100%;
            
        }

        // ocultamos checkbox
        input{
                display: none;
                }
        // Icon de meniu 
        .icon_burger{
                display: block;
                cursor: pointer;
                font-size: 36px;
                color: #840D6F;
                position: fixed;
                right: 27px;
                top: 17px; 
                z-index: 99;
                background-color: $blanco;
                justify-self: center;
                align-self: center;
                text-align: center;
<<<<<<< HEAD
                padding: 10px;
=======
                padding: 15px;
>>>>>>> 995d37d1ef39c595e80c7bc8d8e076c0f733c886
                border-radius: 50%;
                
                @media only screen and (min-width: $breakpoints-sm)  {
                display: none;
                }
                }
        // ocultamos meniu
        .meniu{
            display:none;
            // Meniu Descktop
            @media only screen and (min-width: $breakpoints-sm)  {
                position: fixed;
                top:0;
                left: 0;
                @include flex-box ($jc:center, $ai: center, $fd: row);
                width: 100%;
                height: 69px;
                z-index: 10;
                background-color:#840D6F;
                padding-right: 10%;
                
                li{
                    width: 284px;
                    height: 50px;
                    border: 1px solid #707070;
                    margin: 1px;
                    @include flex-box ($jc:flex-start, $ai: center, $fd: row);
                    padding-left: 15px;
                    z-index: 10;
                    background-color: $blanco;
                    margin-left: 0;
                    
                    a{
                        margin-left: 0; 
                    }
                }
            }
            // Cambios en As
            a{
            @extend %transformA;
            font-size: 20px;
            @media only screen and (min-width: $breakpoints-sm)  {
                margin-left: 50px;
                font-size: 35px;
                }
            }
            
            .caja__desplegable{
                // acemos submeniu despegable
                &:hover .menu__services__desplegable{
                    display: block;
                    position: absolute;
                    top:68px;
                    left: 0;
                    z-index: 10;

                    @media only screen and (min-width: $breakpoints-sm){
                       display: block;
                       width: 305px;
                       position: absolute;
                       top: 68px;
                       left: 33%;
                        
                    }
                    // cajas para los li desplegables
                    li{
                        width: 284px;
                        height: 50px;
                        border: 1px solid #707070;
                        margin: 1px;
                        @include flex-box ($jc:flex-start, $ai: center, $fd: row);
                        padding-left: 15px;
                        z-index: 10;
                        background-color: $blanco;
                        @media only screen and (min-width: $breakpoints-sm){
                            height: 70px;
                            width: 330px; 
                        }
                        a{
                            @extend %transformAsubmeniu;
                        }
                    }
                

                }
                .desplegable{
                letter-spacing: 1px;
                font-size: 20px;
                color: $blanco;
                @media only screen and (min-width: $breakpoints-sm)  {
                    font-size: 35px;  
                }
                }
                // Icon para cerrar meniu principal
                .icon__f {
                    display: none;
                    z-index: 20;
                    font-size: 30px;
                    position: absolute;
                    color: white;
                    left: 30px;
                    top: 50px;
                    
                    @media only screen and (min-width: $breakpoints-sm)  {
                        display: none;
                        z-index: 9990;
                        font-size: 30px;
                        position: absolute;
                        color: white;
                        left: 35%;
                        top: 49px;
                        }
                }
                
                &:hover .icon__f{
                    display: block;
                }
                .desplegable{
                   padding-bottom: 30px; 
                }
                .menu__services__desplegable{
                        display: none;   
                }
            }    
        }
        // para sacar display:none i viszualizar meniu principal
        #activ:checked ~ .meniu{
            // Descktop
            @media only screen and (min-width: $breakpoints-sm)  {
                @include flex-box ($jc:flex-end, $ai: center, $fd: row);
            margin-right: 20%;
            height: 79px;
            }
            position: fixed;
            top:0;
            left: 0;
            @include flex-box ($jc:space-around, $ai: center, $fd: row);
            width: 100%;
            height: 70px;
            transition: 0.5s ease;
            z-index: 10;
            background-color:#840D6F;
            
            // acemos espacio para icon que ciera meniu
            .blog{
                margin-right: 50px;
            }
        }
        // Para quitar icon de meniu cunado meniu esta activo
        #activ:checked ~ .icon_burger{
            display: none;
        }

        // propriedades de icon que cierra meniu i esta oculto
        .acloseMeniu{
            display: none;
            min-width: 50px;
            text-decoration: none;
            z-index: 20;
            .closeMeniu{
            font-size: 25px;
            color: white;

            //anular para Descktop
            @media only screen and (min-width: $breakpoints-sm)  {
            display: none;
            }
            }

        }
        // para que aparece icon que cierra meniu cunado meniu esta abierto
        #activ:checked ~ .acloseMeniu{
            display: block;
            position: fixed;
            right: 0px;
            top: 22px;
            
            //anular para Descktop
            @media only screen and (min-width: $breakpoints-sm)  {
                display: none;
                }
        }

    }
    // LOGO NAV DESCKTOP
    .logo__nav{
        z-index: 99;
        width: 100px;
        height: 100px;
        position: fixed;
        top: 0;
        left: 0;
        @media only screen and (max-width: $breakpoints-sm)  {
            display: none;
            }
    }
    // LOGO
    picture{
       @media only screen and (min-width: $breakpoints-sm)  {
            margin: 0 auto;
            width: 100%;
            height: 340px;
            @include flex-box ($jc:center, $ai: center, $fd: row);
            z-index: 0;
            margin-top: 99px;
            }
        margin: 0 auto;
        width: 100%;
        height: 340px;
        @include flex-box ($jc:center, $ai: center, $fd: row);
        z-index: 0; 
        
    }
    // Para que baja img cunado aparece meniu principal
    #activ:checked ~ picture{
        margin-top: 70px;
    }
}