header{


    // Caja grande de header todo de header esta aqui.
    .gamburger{
        z-index: 1;        
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        // Icons de hamburgesa
        #activ:checked ~ .gamburger{
            display: none;
            background-color: #840D6F;
            width: 100%;
        }

        // ocultamos checkbox
        input{
                display: none;
                }
        // Cambiamos icon de meniu 
        .icon_burger{
                cursor: pointer;
                font-size: 36px;
                color: #840D6F;
                position: fixed;
                right: 27px;
                top: 17px;  
                }
        // ocultamos meniu
        .meniu{
            display:none;
            // Cambios en As
            a{
            @extend %transformA;
            font-size: 20px;
            }
            
            .caja__desplegable{
                // acemos submeniu despegable
                &:hover .menu__services__desplegable{
                    display: block;
                    position: absolute;
                    top:68px;
                    left: 0;
                    z-index: 10;
                    
                    // cajas para los li desplegables
                    li{
                        width: 284px;
                        height: 50px;
                        border: 1px solid #707070;
                        margin: 1px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding-left: 15px;
                        z-index: 10;
                        background-color: $blanco;

                        a{
                            @extend %transformAsubmeniu;
                        }
                    }

                }
                // Icon para cerrar meniu principal
                .icon__f {
                    display: none;
                    z-index: 20;
                    font-size: 30px;
                    position: absolute;
                    color: white;
                    left: 30px;
                    top: 50px;  
                }
                &:hover .icon__f{
                    display: block;
                }
                .desplegable{
                   padding-bottom: 30px; 
                }
                .menu__services__desplegable{
                        display: none;   
                }
                
            }    
        }
        // para sacar display:none i viszualizar meniu principal
        #activ:checked ~ .meniu{
            position: fixed;
            top:0;
            left: 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 70px;
            transition: 0.5s ease;
            z-index: 10;
            background-color:#840D6F;
            // acemos espacio para icon que ciera meniu
            .blog{
                margin-right: 50px;
            }
        }
        // Para quitar icon de meniu cunado meniu esta activo
        #activ:checked ~ .icon_burger{
            display: none;
        }

        // propriedades de icon que cierra meniu i esta oculto
        .acloseMeniu{
            display: none;
            min-width: 50px;
            text-decoration: none;
            z-index: 20;
            .closeMeniu{
            font-size: 25px;
            color: white;
            }

        }
        // para que aparece icon que cierra meniu cunado meniu esta abierto
        #activ:checked ~ .acloseMeniu{
            display: block;
            position: fixed;
            right: 0px;
            top: 22px; 
        }

    }
    // LOGO
    picture{
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 340px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    // Para que baja img cunado aparece meniu principal
    #activ:checked ~ picture{
        margin-top: 70px;
    }
}