//  =============================================================
//  =============================================================

//      ooooooooooo ooooo oooooooooo    ooooooo     ooooooo8
//      88  888  88  888   888    888 o888   888o o888    88
//          888      888   888oooo88  888     888 888    oooo
//          888      888   888        888o   o888 888o    88
//         o888o    o888o o888o         88ooo88    888ooo888

//  =============================================================
//  ============================================================= 


// -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-

// 	FONT - FACE

// -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-

@font-face{
    font-family: 'Brixton_Light';
    src: local('Brixton_Light'),
         url(../fonts/Brixton_Light.woff) format('woff');
} 

@font-face{
    font-family: 'Brixton_Bold';
    src: local('Brixton_Bold'),
         url(../fonts/Brixton_Bold.woff) format('woff');
} 

// -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-

// 	TIPO BASE DE LA WEB

// -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-

html{
    font-family: Brixton_Light, 'sans-serif';
    color: #000000;
    font-size: 16px;

    // fondo de la web 'blanco'
    background-color: $blanco;
}



<<<<<<< HEAD
=======
// -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- 
// -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- 

// 	TIPOGRAFÍA Y ICONOS DEL FOOTER 

// -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- 
// -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- 

// -+-+-+-+-+--+-+-	ASIGNAMOS color, tamaño, forma A LAS HS -+-+-+-+-+-+-+-+-

@each $TH, $FS in $HS {
    #{$TH}{
        font-size: $FS;
    }
}

H5, H6{
    color: $blanco;
}

.footer__info{
    & li h4{
        color: $blanco;
    }

    @each $logo, $svg in $info_logo{
        &__#{$logo}::before{
            content: "";

            display: inline-block;
            width: 40px;
            height: 40px;
            background-image: url('../icons/svg/#{$svg}.svg');
            @extend %bckg_image;
        }
    }
}

.footer__info{
    &__telf__texto, &__mvl__texto{
        font-family: Brixton_Bold;
        font-size: map-get($HS, H4) * 2;
    }

    &__ubi__texto__direccion{
        color: $blanco;
        font-size: map-get($HS, H4);
    }
}


>>>>>>> d23c66cf8befaf65047c3870b793e7f32c55adce
