//  =================================================================================
//  =================================================================================

//   ooooo            o   ooooo  oooo ooooooo  ooooo  oooo ooooooooooo  oooooooo8
//    888            888    888  88 o888   888o 888    88  88  888  88 888
//    888           8  88     888   888     888 888    88      888      888oooooo
//    888      o   8oooo88    888   888o   o888 888    88      888             888
//   o888ooooo88 o88o  o888o o888o    88ooo88    888oo88      o888o    o88oooo888

//  =================================================================================
//  =================================================================================

// -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- 
// -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- 

// 	F O O T E R 

// -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- 
// -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- 

.footer{
    width: 100%;
    height: 650px;
    background-color: $gris;

// -+-+-+-+-+--+-+-	Añado margenes	 -+-+-+-+-+-+-+-+-

    & ul{
        @include margin-centrar;
        padding: 20px 0;
    
        height: 610px;
        @include flex-box(space-evenly, flex-start, column);
    }

// -+-+-+-+-+--+-+-	Posicionar elementos footer	 -+-+-+-+-+-+-+-+-

    & li{
        display: flex;
    }

    &__info__redes, &__col{
        width: 80%;
        margin: 0 auto;
        @include flex-box(space-between,center,row);    
    }

    &__final{
        width: 100%;
        @include flex-box(space-between,center,row);
    }

    &__copyright{
        align-self: center;
    }

// -+-+-+-+-+--+-+-	Marco para colUIB	 -+-+-+-+-+-+-+-+-
    &__pic2__uib{
        border: 1px solid $gris-oscuro;
    }
}

