//  =================================================================================
//  =================================================================================

//   ooooo            o   ooooo  oooo ooooooo  ooooo  oooo ooooooooooo  oooooooo8
//    888            888    888  88 o888   888o 888    88  88  888  88 888
//    888           8  88     888   888     888 888    88      888      888oooooo
//    888      o   8oooo88    888   888o   o888 888    88      888             888
//   o888ooooo88 o88o  o888o o888o    88ooo88    888oo88      o888o    o88oooo888

//  =================================================================================
//  =================================================================================

// -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-

// 	MARGEN DE SERVICIOS

// -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-

.clinica, .forense, .formacion{
    @include margin-centrar;
}

// -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-

// 	SERVICIOS - CLINICA

// -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-

.clinica, .forense, .formacion{
    // -+-+-+-+-+--+-+-	Separaciones margin	 -+-+-+-+-+-+-+-+-
    &__titulo{
        margin: 15px 0 55px 0;
    }
    
    @each $subtit in $servicios{

        &__caja__#{$subtit}{
            @include flex-box(flex-start, center, column);
        }
        
        &__subtit__#{$subtit}{
            margin: 25px;
        }
// -+-+-+-+-+--+-+-	ESTILO Y TAMAÑO DE SUBAPARTADOS ESCRITORIO	 -+-+-+-+-+-+-+-+-

        @media screen and (min-width: $breakpoints-sm){
            &__caja__#{$subtit}{
                width: 100%;

                background-color: $lila-hover-boton;
                padding: 20px;
                border-radius: 5px;
            }

            &__conjunto{
                display: grid;
                grid-template-columns: repeat(auto-fit, 45%);
                grid-gap: 5%;
            }

        }


    }
}

.formacion__caja__asesoramiento{
    grid-column: 1/3;
    // width: 50%;
}

.clinica__parrafo__duelo, .forense__parrafo__criminal,
.formacion__parrafo__formacion,
.formacion__parrafo__investigacion{
    margin-bottom: 25px;
}


// -+-+-+-+-+--+-+-	BOTON	 -+-+-+-+-+-+-+-+-
.inputlabel{
    align-self: flex-end;
    margin: 25px 0;
}



// -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- 
// -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- 

// 	F O O T E R 

// -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- 
// -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- 

.footer{
    width: 100%;
    height: 650px;
    background-color: $gris;

// -+-+-+-+-+--+-+-	Añado margenes	 -+-+-+-+-+-+-+-+-

    & ul{
        @include margin-centrar;
        padding: 20px 0;
    
        height: 610px;
        @include flex-box(space-evenly, flex-start, column);
    }

// -+-+-+-+-+--+-+-	Posicionar elementos footer	 -+-+-+-+-+-+-+-+-

    & li{
        display: flex;
    }

    &__info__redes, &__col{
        width: 80%;
        margin: 0 auto;
        @include flex-box(space-between,center,row);    
    }

    &__final{
        width: 100%;
        @include flex-box(space-between,center,row);
    }

    &__copyright{
        align-self: center;
    }

// -+-+-+-+-+--+-+-	Marco para colUIB	 -+-+-+-+-+-+-+-+-
    &__pic2__uib{
        border: 1px solid $gris-oscuro;
    }
}

